@import "_variables";
@import "_mixins";

@font-face {
    font-family: 'Halvar Breitschrift';
    src: local('Halvar Breitschrift Bd'), local('Halvar-Breitschrift-Bd'),
        url('../font/HalvarBreit-Bd/HalvarBreit-Bd.woff2') format('woff2'),
        url('../font/HalvarBreit-Bd/HalvarBreit-Bd.woff') format('woff'),
        url('../font/HalvarBreit-Bd/HalvarBreit-Bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,
*:after,
*:before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    font-style: normal;
}
.container {
    position: relative;
    max-width:1190px;
    padding: 0 10px;
    margin: 0 auto;
}