//font-family: 'Inter', sans-serif;
$primary-color:#9CD6E1;
$bg-color:linear-gradient(105.71deg, #99D6E2 -1.04%, #9CD7E2 53%, #68B4D8 102.12%);
$white-color:#fff;
$secondary-color:#F4F8F9;
$footer-color: #4D4D4F;
$link-color: #416BBB;
$font-stack: 'Inter', sans-serif;
$font-w400:400;
$font-w500:500;
$title-color:#2B2A52;
$header-line: #ABE2ED;
$header-fixed:#68B4D8;
$maxWidthContainer:1172px;
$shadowCard: 0px 9px 20px rgba(79, 78, 78, 0.15);
$borderRadius:8px;
$hover-link:#78D0E0;
$pressed-link: #68B2C0;
$text-color:#282C33;




