@import "variables";
@import "mixin";

@font-face {
    font-family: 'Halvar Breitschrift';
    src: local('Halvar Breitschrift Bd'), local('Halvar-Breitschrift-Bd'),
        url('/src/font/HalvarBreit-Bd/HalvarBreit-Bd.woff2') format('woff2'),
        url('/src/font/HalvarBreit-Bd/HalvarBreit-Bd.woff') format('woff'),
        url('/src/font/HalvarBreit-Bd/HalvarBreit-Bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,
*:after,
*:before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    font-style: normal;
}
.container {
    max-width:1190px;
    padding: 0 10px;
    margin: 0 auto;
}

 /*===header stayle start===*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  
    min-height: 90px;
    background: $bg-color;
    border-bottom: 1px solid $header-line;
    transition: all .6s ease; 
}
.fixed-top {
    background:$header-fixed;
}
.container {
    position: relative;
}
.navbar-brand img {
    display: flex;
    align-items: center;
}
.navbar-brand:hover {
    opacity: 0.75;
    @media (min-width:960px) {
        font-size: 16px;
    }

}

.navbar-light .navbar-nav .nav-link {
    color: $white-color;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    &:hover {
        color: $link-color;
    }
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
    color: $link-color;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $link-color;
}
.navbar-search {
    position: relative;
    display: flex;
    align-items: center;

    width: 190px;

    border-bottom: 1px solid $white-color;
    @media (max-width:1200px) {
        left:20px;
    }
   
}
.navbar-search::before {
    content: url("../img/search/search.svg");
    position: absolute;
    left: -30px;
    top: 6px;
    background-size: 20px;
    @media (max-width:1200px) {
        left: -20px;
        top: 6px;
    }

}
.navbar-search__text {
    margin-bottom: 0;
    padding: 6px 10px;
    color: $white-color;

    background: transparent;
    border: none;
    &:focus {
        outline: 0;
    }
    &::placeholder {
        color: $white-color;
        font-size: 16px;
        line-height: 1.19;
        font-weight: 400;
    }
}


/*===header stayle end===*/

/*===main style start===*/

//about style start
.about {
    min-height:860px;

    padding: 80px 0;
    background-color: $primary-color;
}
.about__img {
    margin: 0 auto;

    max-width: 550px;
    height: 540px;
    img {
        width: 100%;
    }
}
.about__title {
    @include font-title;
    margin-bottom: 20px;
}
.about__body {
  display: block;
  text-align: justify;
}
.about__text {
    font-family: Inter;
    font-style: normal;
    font-weight: $font-w400;
    font-size: 16px;
    line-height: 1.3;
   
    color: $white-color;
    & strong {
        color: $link-color;
        text-decoration: underline;
    }
}
//about style end
//partners style start
.partners {
    background:$white-color;
}
.partners__title {
    @include font-title;
    text-align: center;
    margin-top: 60px;
}
.partners__cards {
    margin-bottom: 120px;
    
    @media (max-width:992px) {
        margin-bottom: 60px;
    }
}
.partners__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners__img {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 270px;
    min-height: 140px;
    
    box-shadow: $shadowCard;
    border-radius: $borderRadius;
    transition: all .4s ease; 

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px -9px 20px rgba(79, 78, 78, 0.15);;
    }
}
//partners style end

//service style start
.service, .contacts, .ask-form {
    background:$secondary-color;
}
.service__title {
    @include font-title;
    text-align: center;
    margin-top: 60px;
}
.service__item {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 120px;

    @media (max-width:992px) {
        margin-bottom: 60px;
    }
}
.service__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 370px;
    height: 417px;

    background:$white-color;

    box-shadow: $shadowCard;
    border-radius: $borderRadius;
    transition: all .4s ease; 
    border-top: 4px solid $primary-color;

    padding: 0 25px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px -9px 20px rgba(79, 78, 78, 0.15);;
    }
}
.service__img {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 160px;
    height: 160px;

    margin-top: 30px;

    border-radius: 50%;

    background:$secondary-color;
}
.service__text {
    min-height: 88px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.23;
    text-align: center;

    color:$title-color;

    margin: 30px 0;
}
.service__link {
    padding: 16px 94px;
    margin-bottom: 30px;
    background:$primary-color;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.12;
   
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color:$white-color;

    border-radius: 4px;

    transition: background .3s ease;

    &:hover  {
        background: $hover-link;
        color:$white-color;
    }
    &:active {
        background:$pressed-link;
    }
}
//service style end
//clients style start
.clients {
    background:$white-color;
    margin-bottom: 95px
}
.clients__title {
    @include font-title;
    text-align: center;
    margin-top: 60px;
}
.clients__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: center;

    margin-bottom: 30px;
    padding: 0 10px;
}
.clients__item {
    display: flex;
    align-items: center;
    justify-content: center;

    // max-width: 180px;
    // height: 140px;

    margin-bottom: 30px;

    transition: all .3s ease-out;

    &:hover {
        opacity: 0.7;
    }

}

//clients style end
//contacts style start
.contacts {
    padding: 120px 0 80px 0;

    @media (max-width:992px) {
        padding: 60px 0 40px 0;
    }

}
.contacts__block {
  margin: 0 auto;
}
.contacts__title {
    @include font-title;
    margin-bottom: 56px;

    @media (max-width:1200px) {
        text-align: center;
    }
}
.contacts__item {
    width: 270px;
    height: 150px;

    background:$white-color;
    border-radius: $borderRadius;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;

    h3 {
        display: inline-block;
        font-family: Halvar Breitschrift;
        font-size: 15px;
        line-height: 1.5;
        font-weight:bold;
        color: $title-color;
        
        margin-left: 10px;
    }
    div {
        margin-top: 25px;

        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 1.5;
        color: $text-color;

        span {
            display: block;
        }
    }
}
.contacts__map {
    position: relative;
    
    max-width: 570px;
    height: 423px;

    margin: 0 auto;

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius:$borderRadius;

    @media (max-width:1200px) {
        margin-top: 0;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}
//contacts style end
//ask-form style start
.ask-form {
    padding-bottom: 80px;

    @media (max-width:992px) {
       padding-bottom: 40px;
    }
}
.ask-form__title {
    @include font-title;
    margin-bottom: 50px;
}
.form-control {
    font-size: 14px;
    color: $text-color;
    
    &:active, &:focus  {
        box-shadow: 1px  -1px 10px $primary-color;
        border-color:$primary-color;
    }
    &:checked {
        background: $primary-color;
        border-color:$primary-color; 
    }

    &::placeholder {
        font-family: Inter;
        font-weight: normal;
        font-size: 14px;
        color: #A3A3A3;
    }
}
input[type="text"] {
    height: 50px;
    margin-bottom: 15px;
}
.form-check-input {
    width: 20px;
    height: 20px;
    border-radius:2px;

    &:active, &:focus  {
        box-shadow:none;
        border-color:$primary-color;
    }
    &:checked {
        background: $primary-color;
        border-color:$primary-color; 
    }
}
.form-check-label {
    font-family: Inter;
    color: $title-color;
    font-size: 14px;
    margin-bottom: 15px;
}
.check__link {
    color: $link-color;
    cursor: pointer;
}
.form__footer {
    display: flex;
    justify-content: center;

    margin-top: 15px;
}
.ask-form__btn {
    display: flex;
    justify-content: end;

    text-align: right;   
}
.btn {
    width: 200px;
    height: 48px;

    padding: 0;

    background: $primary-color;
    border-radius: 4px;

    color: $white-color;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;

    &:hover  {
        background: $hover-link;
        color:$white-color;
    }
    &:active {
        background:$pressed-link;
    }

    @media (max-width:992px) {
        width: 80%;
     }
}

//ask-form style end

/*===main style end===*/
