@import "_variables";
@import "_mixins";

@font-face {
    font-family: 'Halvar Breitschrift';
    src: local('Halvar Breitschrift Bd'), local('Halvar-Breitschrift-Bd'),
        url('/src/font/HalvarBreit-Bd/HalvarBreit-Bd.woff2') format('woff2'),
        url('/src/font/HalvarBreit-Bd/HalvarBreit-Bd.woff') format('woff'),
        url('/src/font/HalvarBreit-Bd/HalvarBreit-Bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,
*:after,
*:before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    font-style: normal;
}
.container {
    max-width:1190px;
    padding: 0 10px;
    margin: 0 auto;
}

 /*===header stayle start===*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  
    min-height: 90px;
    background: $bg-color;
    border-bottom: 1px solid $header-line;
    transition: all .6s ease; 
    @media (max-width:991px) {
        position: fixed;
        width: 100%;
        align-items: flex-start;
        padding: 20px 30px 0 30px;
        z-index: 5000;
        background: rgba(104, 180, 216, 0.7);
       
        &-collapse {
            padding: 30px 0;
        }
    }

    @media (max-width:575px) {
        padding: 10px 10px 0 10px;
    }
}
.fixed-top {
    background:$header-fixed;
}
.container {
    position: relative;
}
.navbar-brand {
    display: flex;
    align-items: center;

    width: 176px;
    height: 25px;

    @media (max-width:991px) {
        width: 150px;
    }

    img {
        width: 100%;
    } 

    &:hover {
        opacity: 0.75;
    }
}
.navbar-nav {
    margin: 0 0 0 60px;

    @media (max-width:1200px) {
        margin: 0 0 0 20px;
    }

    @media (max-width:991px) {
        margin: 0;
    }
}
.nav-item {
    @media (max-width:991px) {
        padding: 20px 0;
    }
}
.active {
    color: $link-color;
}
.navbar-light .navbar-nav .nav-link {
    font-family: Inter;
    color: $white-color;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
        color: $link-color;
    }

    @media (max-width:991px) {
        font-size: 18px;
    }

   
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
    color:$link-color;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $link-color;
}
.navbar-search {
    position: relative;
    display: flex;
    align-items: center;

    width: 190px;

    border-bottom: 1px solid $white-color;
    input[type=text] {
        width: 100%;
        height: 36px;
        margin-bottom: 0;

        @media (max-width:991px) {
           height: 65px;
        }
       
    }
    @media (max-width:991px) {
        width: 250px;
        left:32px;
    }
   
}
.navbar-search::before {
    content: url("../img/search/search.svg");
    position: absolute;
    left: -30px;
    top: 9px;
    background-size: 20px;

    @media (max-width:991px) {
       top: 22px;
    }

}
.navbar-search__text {
    margin-bottom: 0;
    padding-bottom: 6px;
    color: $white-color;
    font-family: Inter;

    background: transparent;
    border: none;
    transition: border .2s linear;

    &:hover {
        box-shadow: 1px 2px 10px 3px rgb(256, 256, 256, 0.1) inset;
        border-radius:4px;
       
    }
   
    &:focus {
        outline: 0;
    }
    &::placeholder {
        font-family: Inter;
        color: $white-color;
        font-size: 16px;
        font-weight: 400;
        @media (max-width:991px) {
            font-size: 18px;
        }
    }
}


/*===header stayle end===*/

/*===main style start===*/

//about style start
.about {
    min-height:860px;
    padding: 80px 0;
    background-color: $primary-color;
    @media (max-width:991px) {
        padding: 40px 0;
    }
}
.about__img {
    margin: 0 auto;

    max-width: 550px;
    height: 540px;
    img {
        width: 100%;
    }
}
.about__title {
    @include font-title;
    margin-bottom: 20px;
}
.about__body {
  display: block;
  text-align: justify;
}
.about__text {
    font-family: Inter;
    font-style: normal;
    font-weight: $font-w400;
    font-size: 16px;
    line-height: 1.3;
   
    color: $white-color;
    & strong {
        color: $link-color;
        text-decoration: underline;
    }
}
//about style end
//partners style start
.partners {
    min-height: 472px;
    padding: 120px 0;
    background:$white-color;
    @media (max-width:991px) {
        padding: 60px 0;
    }
}
.partners__title {
    @include font-title;
    text-align: center;
}
.partners__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners__img {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 270px;
    min-height: 140px;
    
    box-shadow: $shadowCard;
    border-radius: $borderRadius;
    transition: all .4s ease; 

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px -9px 20px rgba(79, 78, 78, 0.15);;
    }
}
//partners style end

//service style start
.service, .contacts, .ask-form {
    background:$secondary-color;
}
.service {
    min-height: 748px;
    padding: 120px 0;

    @media (max-width:991px) {
        padding: 60px 0;
    }
}
.service__title {
    @include font-title;
    text-align: center;
}
.service__item {
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width:991px) {
        margin-bottom: 60px;
    }
}
.service__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 370px;
    height: 417px;

    background:$white-color;

    box-shadow: $shadowCard;
    border-radius: $borderRadius;
    transition: all .4s ease; 
    border-top: 4px solid $primary-color;

    padding: 0 25px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px -9px 20px rgba(79, 78, 78, 0.15);;
    }
}
.service__img {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 160px;
    height: 160px;

    margin-top: 30px;

    border-radius: 50%;

    background:$secondary-color;
}
.service__text {
    min-height: 88px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.23;
    text-align: center;

    color:$title-color;

    margin: 30px 0;
}
.service__link {
    padding: 16px 94px;
    margin-bottom: 30px;
    background:$primary-color;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.12;
   
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color:$white-color;

    border-radius: 4px;

    transition: background .3s ease;

    &:hover  {
        background: $hover-link;
        color:$white-color;
    }
    &:active {
        background:$pressed-link;
    }
}
//service style end
//clients style start
.clients {
    min-height: 660px;
    padding: 120px 0 80px 0;
    background:$white-color;
    @media (max-width:991px) {
        padding: 60px 0 40px 0;
    }
}
.clients__title {
    @include font-title;
    text-align: center;
}
.clients__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: center;

    margin-bottom: 30px;
    padding: 0 10px;
}
.clients__item {
    display: flex;
    align-items: center;
    justify-content: center;

    // max-width: 180px;
    // height: 140px;

    margin-bottom: 30px;

    transition: all .3s ease-out;

    &:hover {
        opacity: 0.7;
    }

}

//clients style end
//contacts style start
.contacts {
    min-height: 623px;
    padding: 120px 0 80px 0;

    @media (max-width:991px) {
        padding: 60px 0 40px 0;
    }

}
.contacts__block {
  margin: 0 auto;
}
.contacts__title {
    @include font-title;
    margin-bottom: 56px;

    @media (max-width:1200px) {
        text-align: center;
    }
}
.contacts__item {
    width: 270px;
    height: 150px;

    background:$white-color;
    border-radius: $borderRadius;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;

    h3 {
        display: inline-block;
        font-family: Halvar Breitschrift;
        font-size: 15px;
        line-height: 1.5;
        font-weight:bold;
        color: $title-color;
        
        margin-left: 10px;
    }
    div {
        margin-top: 25px;

        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 1.5;
        color: $text-color;

        a {
            display: block;
            text-decoration: none;
            color: $text-color;
        }
    }
}
.contacts__map {
    position: relative;
    
    width: 100%;
    height: 425px;

   ;

    margin: 0 auto;

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius:$borderRadius;

    @media (max-width:1200px) {
        margin-top: 0;
    }

    iframe {
        // pointer-events: none;
        width: 100%;
        height: 100%;
    }
}

//contacts style end
//ask-form style start
.ask-form {
    min-height: 430px;
    padding-bottom: 80px;

    @media (max-width:991px) {
       padding-bottom: 40px;
    }
}
.ask-form__title {
    @include font-title;
    margin-bottom: 50px;
}
.form-control {
    font-size: 14px;
    color: $text-color;
    font-family: Inter;
    
    &:active, &:focus  {
        box-shadow: 1px  -1px 10px $primary-color;
        border-color:$primary-color;
    }
    &:checked {
        background: $primary-color;
        border-color:$primary-color; 
    }

    &::placeholder {
        font-family: Inter;
        font-weight: normal;
        font-size: 14px;
        color: #A3A3A3;
    }
}
textarea.form-control {
    resize: none;
}
input[type="text"], input[type="tel"] {
    height: 50px;
    margin-bottom: 15px;
}
.form-check-input {
    width: 20px;
    height: 20px;
    border-radius:2px;

    &:active, &:focus  {
        box-shadow:none;
        border-color:$primary-color;
    }
    &:checked {
        background: $primary-color;
        border-color:$primary-color; 
    }

    @media (max-width: 575px) {
        width: 16px;
        height: 16px;
    }
}
.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
    background-color:$primary-color;
    box-shadow:none;
}
.form-check-input.is-valid, .was-validated .form-check-input:valid {
    border-color: $primary-color; 
}
.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
    color: $primary-color;
}
.form-check-label {
    font-family: Inter;
    color: $title-color;
    font-size: 14px;
    margin-bottom: 15px;

    @media (max-width: 991px) {
        font-size: 12px;
    }

    @media (max-width: 575px) {
        font-size: 10px;
    }
}
.check__link {
    color: $link-color;
    cursor: pointer;
}
.form__footer {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}
.ask-form__btn {
    display: flex;
    justify-content: end;

    text-align: right;   
}
.btn {
    width: 200px;
    height: 48px;

    padding: 0;

    background: $primary-color;
    border-radius: 4px;
    box-shadow:none;

    color: $white-color;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: background 0.3s ease;

    &:hover  {
        background: $hover-link;
        color:$white-color;
        box-shadow:none;
    }
    &:active {
        background:$pressed-link;
        box-shadow:none;
    }
    &:focus {
        box-shadow:none;
    }
     @media (max-width:767px) {
        width: 100%;
     }
}

//ask-form style end

/*===main style end===*/
/*===footer style start===*/
.footer {
    min-height: 294px;
    padding: 45px 0 30px 0;
    background:  $footer-color;
}
.footer__menu {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin-bottom: 0;
    @media (max-width:767px) {
        padding-left: 0;
       }
    @media (max-width:575px) {
       justify-content: center;
       margin-bottom: 20px;
      }
}
.footer__item {
    list-style-type: none;
    margin-right: 24px;
    &:last-child {
        margin-right: 0;
    }

    @media (max-width:767px) {
        margin-right: 15px;
      }
 
}
.footer__link {
    text-decoration: none;
    font-family: Inter;
    font-weight: normal;
    font-size: 14px;
    color: $footer-link;
    transition: all 0.3s ease-in;
    padding: 12px 0;
    &:hover {
        color: $primary-color;
    }

    @media (max-width:767px) {
       font-size: 12px;
     }
     @media (max-width:575px) {
        font-size: 10px;
      }
 

}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 5px;

    border-radius:50%;
    background-color:$footer-circle;
    transition: background 0.3s ease-in;

    @media (max-width:575px) {
        margin-right: 15px;
      }
 

    &:hover {
        background:$primary-color;
    }
    &-link {
        color: $white-color;
        font-size: 14px;
        &:hover {
            color: $white-color;
        }

        @media (max-width:767px) {
            font-size: 12px;
          }
     
    }
}
.wrap__partners {
    position: relative;
    display: flex;
    margin-top: 40px;
    @media (max-width:767px) {
        margin-top: 30px;
      }
}
.footer__partners {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 70px;

    background-color: $white-color;
    border-radius:4px;

    @media (max-width:1200px) {
        width: 150px;
    }
    @media (max-width:991px) {
        width: 130px;
        margin: 0  auto 25px auto;
    }  
}
.footer__line {
    width:100%;
    height: 1px;
    background-color:$footer-line;
    margin-top: 40px;
    @media (max-width:767px) {
        margin-top: 5px;
      }
}
.footer__text {
    margin-top: 30px;

    font-family: Inter;
    font-weight: normal;
    font-size: 13px;
    color: $footer-link;
    text-align: center;

    @media (max-width:991px) {
       font-size: 12px;
      }
    @media (max-width:767px) {
        font-size: 10px;
    }
}
/*===footer style end===*/
